In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.keys import Keys

import bs4
from bs4 import BeautifulSoup

import requests
import pandas as pd
import time
import numpy as np

In [2]:
#appending data frame to existing excel file
def append_df_to_excel(df, excel_path):
    df_excel = pd.read_excel(excel_path)
    result = pd.concat([df_excel, df], ignore_index=True)
    result.to_excel(excel_path, index=False)

In [3]:
# #reading provinces list
# read_province_list = open("jawa_bali.txt",'r')
# provinces=[]
# # # for _ in range(33): #skipping province
# # #     next(read_province_list)
# for province in read_province_list:
#     provinces.append(province.replace("\n", ", Indonesia").strip())

# # provinces[33]+=", Indonesia"
# # provinces = pd.read_excel(r"Indonesias_Hotel_List.xlsx",usecols=[2],skiprows=[0]).drop_duplicates().values.tolist()


# #provinces=[provinces[44]]
# print((provinces))

In [4]:
kota = pd.read_csv(r"Indonesian_Family_Life_Survey_4_Longitude_and_Latitude.csv", usecols=[5,6]).drop_duplicates()
len(kota)
for j in range(99,102):
    print(kota.iloc[j,1])

PANGKAL PINANG
BATAM
JAKARTA SELATAN

In [5]:
#url link
my_url='https://www.traveloka.com/en-id/'


#calling web driver from its directory
s=Service(r'C:\Users\62811\Downloads\geckodriver-v0.30.0-win64\geckodriver.exe') 


def strip(x):
    if x !=None:
        return   str(x.text.strip())
    else:
        return str('')

In [12]:
#url link
my_url='https://www.traveloka.com/en-id/'


#calling web driver from its directory
s=Service(r'C:\Users\62811\Downloads\geckodriver-v0.30.0-win64\geckodriver.exe') 

city=["Enak banget loh","Jakarta","Bandung"]
for i in range(len(city)):
    try:
        driver = webdriver.Firefox(service=s)
        wait = WebDriverWait(driver, 30)
        driver.get(my_url)
        search_box = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[data-testid='autocomplete-field']"))).send_keys(city[i])

        #(wait.until(EC.element_to_be_clickable((By.XPATH, "//div[@data-testid='autocomplete-item-name' and *contains(string(), %s)]"%city)))).click()
        auto_complete = wait.until(EC.element_to_be_clickable((By.XPATH, "//div[@data-testid='autocomplete-item-name'][1]")))
        auto_complete.click()
        wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "[data-testid='search-submit-button']"))).click()



        x=''
        while True:
            try:
                time.sleep(4)
                x = x + wait.until(EC.visibility_of_element_located((By.CLASS_NAME, "_2qd8A"))).get_attribute('innerHTML') #find_elements_by_class_name("_7192d3184")
                WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID,"next-button"))).click()
                print("Clicked on  Next Page »")
            except TimeoutException:
                print("No more Next Page »")
                break
        driver.quit()

        card=BeautifulSoup(x, 'html.parser').find_all(True,{'class':'ztzlF _2nyWi'})
    except TimeoutException:
        driver.quit()
        continue






    import winsound
    duration = 1000  # milliseconds
    freq = 300  # Hz
    winsound.Beep(freq, duration)

Clicked on  Next Page »
Clicked on  Next Page »

WebDriverException: Message: Failed to decode response from marionette

In [44]:
i=0
list = [ ]
for item in card:

    name = strip(item.find(True, {'class':'_1z5je _10ZQX tvat-hotelName'}))
    
    loc = strip(item.find(True,{'class':'_3tICV'}))
    
    rating = strip(item.find(True,{'class':'tvat-ratingScore'}))

    rating_label_ = ''
    rating_label_ = strip(item.find(True,{'class':'_16hDy'})).split()

    if rating_label_ == []:
        rating_label = ''
    else:
        rating_label = rating_label_[0]
    # except:
    #     rating_label = ''

    number_of_reviews = ''
    number_of_reviews = strip(item.find(True,{'class':'_30os4'}))[1:-1]



    price = strip(item.find(True,{'class':'_22n9I tvat-primaryPrice'}))[3:]
    
    type = strip(item.find(True,{'class':'_3ohst Jewfo _2Vswb'}))
    
    # price_for= strip(item.find(True,{'class':'_4abc4c3d5 _7ee1c7d14'}))

    stars = item.find(True,{'class':'_1RoiH _1dIAz tvat-starRating _1Fq-V'})

    # city = kota.iloc[j,1]

    # province_name = kota.iloc[j,0]

    if stars == None:
        stars_count = ''
    elif len(stars) == 1:
        stars_count = ''
    else:
        stars_count=str(len(stars)-1)

    # href_tag= item.find('a', href=True)['href']

    list_in_list = [name,loc,rating,rating_label,number_of_reviews,price,type,stars_count]#,bed,price_for,stars_count,city,href_tag]
    
    list.append(list_in_list)
    #print(list_in_list)
    i=i+1
df = pd.DataFrame(list,columns= ['name','loc','rating','rating_label','number_of_reviews','price','type','stars_count'])
df.replace('', np.nan, inplace=True)
df.dropna(axis=0,how='all')
df

,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,"The Langham, Jakarta","Senayan, South Jakarta",8.8,Impressive,193,3.484.800,Hotels,5
1,"Hotel Mulia Senayan, Jakarta","Senayan, South Jakarta",8.7,Impressive,1377,2.056.999,Hotels,5
2,Ascott Sudirman Jakarta,"Karet Semanggi, South Jakarta",8.6,Impressive,2040,1.359.600,Apartments,5
3,MAY Property Apartment Kalibata City Tower Gah...,"Pancoran, South Jakarta",6.9,Good,11,350.000,Apartments,NaN
4,Hotel GranDhika Iskandarsyah,"Melawai, South Jakarta",8.6,Impressive,4671,720.000,Hotels,4
...,...,...,...,...,...,...,...,...
621,2BR Cozy and Modern L'Avenue Apartment by Trav...,"Pancoran, South Jakarta",NaN,NaN,NaN,2.018.755,Apartments,NaN
622,2 BR Niffaro Park by Travelio,"East Pejaten, South Jakarta",8.0,Convenient,14,611.747,Apartments,1
623,Apartemen Kalibatacity By Dimas,"Kalibata, South Jakarta",NaN,NaN,NaN,317.058,Apartments,1
624,2 Bedrooms Residence at Apartment Kalibata Cit...,"Kalibata, South Jakarta",8.4,Impressive,33,585.337,Apartments,1
625,Havenwood Senopati,"Selong, South Jakarta",8.6,Impressive,233,4.221.772,Apartments,4

In [40]:
price = strip(item.find(True,{'class':'_22n9I tvat-primaryPrice'}))[3:]
price

'4.221.772'

In [29]:
# x = open("card.html","r")
# card=BeautifulSoup(x, 'html.parser')

card=BeautifulSoup(x, 'html.parser').find_all(True,{'class':'ztzlF _2nyWi'})

#card sudah di simpan di C:\Users\62811\Documents\Web Scraping Project (traveloka.com)

In [47]:
kota.iloc[103,1]

'JAKARTA PUSAT'

In [53]:
#url link
my_url='https://www.traveloka.com/en-id/'


#calling web driver from its directory
s=Service(r'C:\Users\62811\Downloads\geckodriver-v0.30.0-win64\geckodriver.exe') 

empty_list=[]
a = pd.DataFrame(empty_list,columns= ['name','loc','rating','rating_label','number_of_reviews','price','type','stars_count'])

cities=[kota.iloc[101,1],kota.iloc[103,1]]
x=''
for city in cities:
    driver = webdriver.Firefox(service=s)
    wait = WebDriverWait(driver, 30)
    driver.get(my_url)
    search_box = wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "input[data-testid='autocomplete-field']"))).send_keys(city)

    #(wait.until(EC.element_to_be_clickable((By.XPATH, "//div[@data-testid='autocomplete-item-name' and *contains(string(), %s)]"%city)))).click()
    auto_complete = wait.until(EC.element_to_be_clickable((By.XPATH, "//div[@data-testid='autocomplete-item-name'][1]")))
    auto_complete.click()
    wait.until(EC.element_to_be_clickable((By.CSS_SELECTOR, "[data-testid='search-submit-button']"))).click()



    while True:
        try:
            time.sleep(4)
            x = x + wait.until(EC.visibility_of_element_located((By.CLASS_NAME, "_2qd8A"))).get_attribute('innerHTML') #find_elements_by_class_name("_7192d3184")
            WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID,"next-button"))).click()
            print("Clicked on  Next Page »")
        except TimeoutException:
            print("No more Next Page »")
            break
    driver.quit()

Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
No more Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
Clicked on  Next Page »
No more Next Page »

In [56]:
card=BeautifulSoup(x, 'html.parser').find_all(True,{'class':'ztzlF _2nyWi'})

i=0
list = [ ]
for item in card:

    name = strip(item.find(True, {'class':'_1z5je _10ZQX tvat-hotelName'}))
    
    loc = strip(item.find(True,{'class':'_3tICV'}))
    
    rating = strip(item.find(True,{'class':'tvat-ratingScore'}))

    rating_label_ = ''
    rating_label_ = strip(item.find(True,{'class':'_16hDy'})).split()

    if rating_label_ == []:
        rating_label = ''
    else:
        rating_label = rating_label_[0]
    # except:
    #     rating_label = ''

    number_of_reviews = ''
    number_of_reviews = strip(item.find(True,{'class':'_30os4'}))[1:-1]



    price = strip(item.find(True,{'class':'_22n9I tvat-primaryPrice'}))[3:]
    
    type = strip(item.find(True,{'class':'_3ohst Jewfo _2Vswb'}))
    
    # price_for= strip(item.find(True,{'class':'_4abc4c3d5 _7ee1c7d14'}))

    stars = item.find(True,{'class':'_1RoiH _1dIAz tvat-starRating _1Fq-V'})

    # city = kota.iloc[j,1]

    # province_name = kota.iloc[j,0]

    if stars == None:
        stars_count = ''
    elif len(stars) == 1:
        stars_count = ''
    else:
        stars_count=str(len(stars)-1)

    # href_tag= item.find('a', href=True)['href']

    list_in_list = [name,loc,rating,rating_label,number_of_reviews,price,type,stars_count]#,bed,price_for,stars_count,city,href_tag]
    
    list.append(list_in_list)
    #print(list_in_list)
    i=i+1
df = pd.DataFrame(list,columns= ['name','loc','rating','rating_label','number_of_reviews','price','type','stars_count'])
df.replace('', np.nan, inplace=True)
df.dropna(axis=0,how='all')

append_df_to_excel(df, r"test_web_scraping_py.xlsx")

import winsound
duration = 1000  # milliseconds
freq = 300  # Hz
winsound.Beep(freq, duration)

,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,"The Langham, Jakarta","Senayan, South Jakarta",8.8,Impressive,193,3.484.800,Hotels,5
1,"Hotel Mulia Senayan, Jakarta","Senayan, South Jakarta",8.7,Impressive,1377,2.056.999,Hotels,5
2,Ascott Sudirman Jakarta,"Karet Semanggi, South Jakarta",8.6,Impressive,2040,1.359.600,Apartments,5
3,MAY Property Apartment Kalibata City Tower Gah...,"Pancoran, South Jakarta",6.9,Good,11,350.000,Apartments,NaN
4,Hotel GranDhika Iskandarsyah,"Melawai, South Jakarta",8.6,Impressive,4671,720.000,Hotels,4
...,...,...,...,...,...,...,...,...
1152,Residence JR Backpacker,"Kampung Rawa, Central Jakarta",7.5,Convenient,37,450.000,Homestays,NaN
1153,Pramukajati Homestay,"Kramat, Central Jakarta",7.7,Convenient,383,262.500,Guest Houses,NaN
1154,Menteng House,"Thamrin, Central Jakarta",8.5,Impressive,176,350.001,Guest Houses,1
1155,Antara Hotel,"Pasar Baru, Central Jakarta",7.7,Convenient,258,311.612,Hotels,3
1156,Cemara Hotel,"Thamrin, Central Jakarta",8.3,Impressive,1903,689.999,Hotels,3

In [59]:
append_df_to_excel(df, r"test_web_scraping_py.xlsx")

In [62]:
data = pd.read_excel("test_web_scraping_py.xlsx")
data

,Unnamed: 0,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,NaN,eL Hotel Royale Bandung,"Merdeka, Bandung",8.7,Impressive,15577.0,Rp 900.000,Hotels,4.0
1,NaN,Grand Tjokro Premiere Bandung,"Cihampelas, Bandung",8.6,Impressive,15273.0,Rp 869.211,Hotels,4.0
2,NaN,The Trans Luxury Hotel,"Buahbatu, Bandung",9.0,Impressive,6178.0,Rp 3.302.750,Hotels,5.0
3,NaN,De Batara Hotel,"Cihampelas, Bandung",8.2,Convenient,2978.0,Rp 289.900,Hotels,3.0
4,NaN,Rumah Kembar Lembang,"Lembang, Bandung",9.3,Superb,14.0,Rp 875.000,Villas,NaN
...,...,...,...,...,...,...,...,...,...
3877,NaN,Villa 360 Bandung,"Lembang, Bandung",8.8,Impressive,21.0,3.750.000,Villas,1.0
3878,NaN,Hannah Room - Khusus Putri,"Dago, Bandung",8.5,Impressive,144.0,220.399,Homestays,NaN
3879,NaN,Villa DSK - Buah Batu Bandung,"Cipagalo, Bandung",8.3,Impressive,11.0,1.799.999,Villas,2.0
3880,NaN,La Fasa Syariah Hotel,"Jatinangor, Bandung",8.1,Convenient,239.0,850.000,Hotels,1.0
3881,NaN,ALI2 Pondok Orange 2,"Ciwidey, Bandung",8.9,Impressive,36.0,694.445,Homestays,1.0

In [64]:
data.drop_duplicates(subset="name")

,Unnamed: 0,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,NaN,eL Hotel Royale Bandung,"Merdeka, Bandung",8.7,Impressive,15577.0,Rp 900.000,Hotels,4.0
1,NaN,Grand Tjokro Premiere Bandung,"Cihampelas, Bandung",8.6,Impressive,15273.0,Rp 869.211,Hotels,4.0
2,NaN,The Trans Luxury Hotel,"Buahbatu, Bandung",9.0,Impressive,6178.0,Rp 3.302.750,Hotels,5.0
3,NaN,De Batara Hotel,"Cihampelas, Bandung",8.2,Convenient,2978.0,Rp 289.900,Hotels,3.0
4,NaN,Rumah Kembar Lembang,"Lembang, Bandung",9.3,Superb,14.0,Rp 875.000,Villas,NaN
...,...,...,...,...,...,...,...,...,...
2645,NaN,Homey with Beautifully Designed 2BR Bassura Ci...,"Cipinang, East Jakarta",NaN,NaN,NaN,512.126,Apartments,NaN
2646,NaN,Contemporary 2BR at Bassura City Apartment,"Cipinang, East Jakarta",NaN,NaN,NaN,573.784,Apartments,3.0
2647,NaN,Simplicity Minimalist 2BR Bassura City Apartment,"Cipinang, East Jakarta",NaN,NaN,NaN,492.119,Apartments,3.0
2701,NaN,Sheraton Bandung Hotel & Towers,"Dago Atas, Bandung",8.7,Impressive,2093.0,11.020.800,Hotels,5.0
2709,NaN,Courtyard by Marriott Bandung Dago,"Dago, Bandung",8.6,Impressive,2091.0,1.562.461,Hotels,4.0

In [7]:
a = pd.read_excel("test.xlsx")
a

,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,OYO 2410 Intan Hotel,"Babul Makmur, Aceh Tenggara Regency",NaN,NaN,NaN,167.707,Hotels,NaN
1,The Royal IDI Hotel,"Darul Ihsan, East Aceh Regency",8.7,Impressive,71.0,753.012,Hotels,3.0
2,Parkside Gayo Petro Hotel - Takengon,"Takengon, Central Aceh",8.8,Impressive,84.0,711.111,Hotels,3.0
3,Grand Renggali Hotel Takengon,"Central Aceh, Aceh",8.0,Convenient,131.0,650,Hotels,3.0
4,Hotel Grand Bayu Hill,"Kebayakan, Central Aceh",8.2,Convenient,10.0,585,Hotels,4.0
...,...,...,...,...,...,...,...,...
19830,Hotel Mahkota Beach,"South Jayapura, Jayapura City",7.7,Convenient,5.0,352.941,Hotels,NaN
19831,Hotel Cendrawasih Kotaraja Jayapura,"Abepura, Jayapura City",7.0,Good,35.0,336.000,Hotels,3.0
19832,Hotel Delima,"South Jayapura, Jayapura City",7.7,Convenient,32.0,598.290,Hotels,NaN
19833,Hotel Agung Papua,"South Jayapura, Jayapura City",8.3,Impressive,50.0,895.315,Hotels,NaN
19834,Hotel Permata,"North Jayapura, Jayapura City",7.1,Convenient,52.0,686.274,Hotels,NaN

In [13]:
from IPython.display import display, HTML

display(a)

,name,loc,rating,rating_label,number_of_reviews,price,type,stars_count
0,OYO 2410 Intan Hotel,"Babul Makmur, Aceh Tenggara Regency",NaN,NaN,NaN,167.707,Hotels,NaN
1,The Royal IDI Hotel,"Darul Ihsan, East Aceh Regency",8.7,Impressive,71.0,753.012,Hotels,3.0
2,Parkside Gayo Petro Hotel - Takengon,"Takengon, Central Aceh",8.8,Impressive,84.0,711.111,Hotels,3.0
3,Grand Renggali Hotel Takengon,"Central Aceh, Aceh",8.0,Convenient,131.0,650,Hotels,3.0
4,Hotel Grand Bayu Hill,"Kebayakan, Central Aceh",8.2,Convenient,10.0,585,Hotels,4.0
...,...,...,...,...,...,...,...,...
19830,Hotel Mahkota Beach,"South Jayapura, Jayapura City",7.7,Convenient,5.0,352.941,Hotels,NaN
19831,Hotel Cendrawasih Kotaraja Jayapura,"Abepura, Jayapura City",7.0,Good,35.0,336.000,Hotels,3.0
19832,Hotel Delima,"South Jayapura, Jayapura City",7.7,Convenient,32.0,598.290,Hotels,NaN
19833,Hotel Agung Papua,"South Jayapura, Jayapura City",8.3,Impressive,50.0,895.315,Hotels,NaN
19834,Hotel Permata,"North Jayapura, Jayapura City",7.1,Convenient,52.0,686.274,Hotels,NaN