In [58]:
import bs4
from urllib.request import urlopen
from bs4 import BeautifulSoup
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
import csv
import pandas as pd


for page_offset in range(0,725,25):#725,25):
    # opening url and grabbing the web page
    my_url = 'https://www.booking.com/searchresults.html?label=gen173nr-1FCAEoggI46AdIM1gEaGiIAQGYATG4ARfIAQ_YAQHoAQH4AQKIAgGoAgO4ArrwhpEGwAIB0gIkMTE5Njk0NGEtM2YyMS00YmFkLTlmNTMtZTcxNGFjMWYzZDcw2AIF4AIB&sid=f69cca44213bc2d9315e7a7f1c7282a0&aid=304142&checkin=2022-03-04&checkout=2022-03-05&region=5437&offset={}'.format(page_offset)
    s=Service(r'C:\Users\62811\Downloads\geckodriver-v0.30.0-win64\geckodriver.exe') 
    driver = webdriver.Firefox(service=s)

    driver.get(my_url)
    time.sleep(5) #experiment with timer to fetch all the data 
    #a.append(driver.page_source)
    a=a+driver.page_source
    driver.quit()
# # html parsing
# soup+=BeautifulSoup(driver.page_source, 'html.parser')

In [59]:
soup=BeautifulSoup(a, 'html.parser')

In [61]:
# querying data from html
name_rating = soup.findAll(True, {'class':['fde444d7ef _c445487e2','af1ddfc958 eba89149fb','_9c5f726ff _192b3a196 f1cbb919ef','_9c5f726ff bd528f9ea6','fde444d7ef _e885fdc12','_4abc4c3d5 _1e6021d2f _6e869d6e0']})
list = []
for nr in name_rating:
    result = nr.text.strip()
    #print(result)
    list.append(nr.text.strip())
    
    #querying name
name=[]
i=0
while i<len(list):
    name.append(list[i])
    #print(list[i])
    i=i+7
    
    #querying location
loc=[]
i=1    
while i<len(list):
    #print(list[i])
    loc.append(list[i])
    i=i+7
    
    #querying rating
rating=[]
i=3    
while i<len(list):
    #print(list[i])
    rating.append(list[i])
    i=i+7
    
    #querying quality
quality=[]
i=4   
while i<len(list):
    #print(list[i])
    quality.append(list[i])
    i=i+7
    
    #querying price
reviews=[]
i=5   
while i<len(list):
    #print(list[i])
    reviews.append(list[i])
    i=i+7
    
    #querying number of reviews
price=[]
i=6   
while i<len(list):
    #print(list[i])
    price.append(list[i])
    i=i+7

df = pd.DataFrame(({'name': name, 'location': loc,'rating':rating,'quality':quality,'number of reviews':reviews,'price':price}))
df

,name,location,rating,quality,number of reviews,price
0,OYO 2308 Seven Season Residence,"Central Jakarta, Jakarta",7.5,Good,19 reviews,"Rp 136,843"
1,Wonderloft Hostel,"West Jakarta, Jakarta",8.8,Excellent,827 reviews,"Rp 216,000"
2,Sleepy Raccoon Hostel,"West Jakarta, Jakarta",9.1,Wonderful,451 reviews,"Rp 202,825"
3,OYO 591 Mn Residence Syariah,"East Jakarta, Jakarta",5.7,Review score,14 reviews,"Rp 138,984"
4,favehotel Pasar Baru,"Central Jakarta, Jakarta",8.5,Very Good,84 reviews,"Rp 518,320"
...,...,...,...,...,...,...
689,"North Jakarta, Jakarta",Show on map,Casa Living Senayan Hotel,"Central Jakarta, Jakarta",Show on map,"Rp 970,000"
690,Atap Merah Residence,"Central Jakarta, Jakarta","Rp 1,200,000",Kost Amanah,"Central Jakarta, Jakarta",Show on map
691,"Rp 698,400",Benhill Syariah Residence 2,Show on map,"Rp 340,000",Benhill Syariah Residence,"Central Jakarta, Jakarta"
692,Show on map,"Rp 361,200","East Jakarta, Jakarta",Show on map,"Rp 2,200,000",Tuju Arteri Pods
693,"South Jakarta, Jakarta",Show on map,OYO 90106 Tanah Abang Residence,"Central Jakarta, Jakarta",Show on map,"Rp 259,518"

In [63]:
df.tail()

,name,location,rating,quality,number of reviews,price
689,"North Jakarta, Jakarta",Show on map,Casa Living Senayan Hotel,"Central Jakarta, Jakarta",Show on map,"Rp 970,000"
690,Atap Merah Residence,"Central Jakarta, Jakarta","Rp 1,200,000",Kost Amanah,"Central Jakarta, Jakarta",Show on map
691,"Rp 698,400",Benhill Syariah Residence 2,Show on map,"Rp 340,000",Benhill Syariah Residence,"Central Jakarta, Jakarta"
692,Show on map,"Rp 361,200","East Jakarta, Jakarta",Show on map,"Rp 2,200,000",Tuju Arteri Pods
693,"South Jakarta, Jakarta",Show on map,OYO 90106 Tanah Abang Residence,"Central Jakarta, Jakarta",Show on map,"Rp 259,518"